name: CI

on:
  push:
    branches: main
  pull_request:
    types:
      - opened
      - synchronize

env:
  LINT_TARGETS: ./articles/*.md ./books/*.md

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: tsuyoshicho/action-textlint@689c87690ef3b954b5039bcb15589863c9e021a1 # v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          textlint_flags: ${{ env.LINT_TARGETS }}

      - uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21
        with:
          config: .markdownlint-cli2.jsonc
          globs: ${{ env.LINT_TARGETS }}

      - uses: streetsidesoftware/cspell-action@e5a858a18b7e0b56e0342b1dcad796308b7341a2 # v8
        with:
          config: ./cspell.yml
          files: ${{ env.LINT_TARGETS }}
