name: CI

on:
  push:
    branches: main
  pull_request:
    types:
      - opened
      - synchronize

env:
  LINT_TARGETS: ./articles/*.md ./books/*.md

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: tsuyoshicho/action-textlint@689c87690ef3b954b5039bcb15589863c9e021a1 # v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          textlint_flags: ${{ env.LINT_TARGETS }}

      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22
        with:
          config: .markdownlint-cli2.jsonc
          globs: ${{ env.LINT_TARGETS }}

      - uses: streetsidesoftware/cspell-action@d5d910b521ad408f1e7383c24609079f5a88bdca # v8
        with:
          config: ./cspell.yml
          files: ${{ env.LINT_TARGETS }}
